In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the netflix_titles.csv file path
csv_path = "Resources/netflix_titles.csv"

# Import the netflix_titles.csv file as a DataFrame
netflix_df = pd.read_csv(csv_path, encoding="utf-8")
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [3]:
# Extract relevant columns
new_netflix_df = netflix_df.loc[:, ['type', 'title', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in']]
new_netflix_df

,type,title,country,date_added,release_year,rating,duration,listed_in
0,TV Show,3%,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies"
3,Movie,9,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,United States,"January 1, 2020",2008,PG-13,123 min,Dramas
...,...,...,...,...,...,...,...,...
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies"
7783,Movie,Zubaan,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"
7784,Movie,Zulu Man in Japan,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M..."
7785,TV Show,Zumbo's Just Desserts,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV"
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals"

In [4]:
# Initial count in columns
new_netflix_df.count()

type            7787
title           7787
country         7280
date_added      7777
release_year    7787
rating          7780
duration        7787
listed_in       7787
dtype: int64

In [5]:
#Drop columns with NaN
netflix = new_netflix_df.dropna()

In [6]:
#Final count in columns
netflix.count()

type            7265
title           7265
country         7265
date_added      7265
release_year    7265
rating          7265
duration        7265
listed_in       7265
dtype: int64

In [7]:
#Show new Data Frame
netflix

,type,title,country,date_added,release_year,rating,duration,listed_in
0,TV Show,3%,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies"
3,Movie,9,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,United States,"January 1, 2020",2008,PG-13,123 min,Dramas
...,...,...,...,...,...,...,...,...
7781,Movie,Zoom,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies"
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies"
7783,Movie,Zubaan,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"
7785,TV Show,Zumbo's Just Desserts,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV"
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals"

In [8]:
#Rename columns
netflix_renamed = netflix.rename(columns={"type": "Movie/TV Show", 
                                          "title":"Title", 
                                          "country":"Country of Production", 
                                          "date_added":"Date Added to Netflix", 
                                          "release_year":"Release Year", 
                                          "rating":"Parental Rating", 
                                          "duration":"Duration",
                                          "listed_in":"Genre"})
netflix_renamed

,Movie/TV Show,Title,Country of Production,Date Added to Netflix,Release Year,Parental Rating,Duration,Genre
0,TV Show,3%,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies"
3,Movie,9,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,United States,"January 1, 2020",2008,PG-13,123 min,Dramas
...,...,...,...,...,...,...,...,...
7781,Movie,Zoom,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies"
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies"
7783,Movie,Zubaan,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"
7785,TV Show,Zumbo's Just Desserts,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV"
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals"

In [9]:
# Split "Date Added to Netflix"
year_added = netflix_renamed['Date Added to Netflix'].str.split(',', expand=True)
year_added

                0      1
0       August 14   2020
1     December 23   2016
2     December 20   2018
3     November 16   2017
4       January 1   2020
...           ...    ...
7781   January 11   2020
7782   October 19   2020
7783      March 2   2019
7785   October 31   2020
7786      March 1   2020

[7265 rows x 2 columns]

In [10]:
# Split "Country of Production"
countries = netflix_renamed['Country of Production'].str.split(',', expand=True)
countries

,0,1,2,3,4,5,6,7,8,9,10,11
0,Brazil,None,None,None,None,None,None,None,None,None,None,None
1,Mexico,None,None,None,None,None,None,None,None,None,None,None
2,Singapore,None,None,None,None,None,None,None,None,None,None,None
3,United States,None,None,None,None,None,None,None,None,None,None,None
4,United States,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
7781,United States,None,None,None,None,None,None,None,None,None,None,None
7782,Sweden,Czech Republic,United Kingdom,Denmark,Netherlands,None,None,None,None,None,None,None
7783,India,None,None,None,None,None,None,None,None,None,None,None
7785,Australia,None,None,None,None,None,None,None,None,None,None,None
7786,United Kingdom,Canada,United States,None,None,None,None,None,None,None,None,None

In [11]:
# Rename country columns
countries_renamed = countries.rename(columns={0: "Country 1", 
                                          1:"Country 2", 
                                          2:"Country 3", 
                                          3:"Country 4", 
                                          4:"Country 5", 
                                          5:"Country 6", 
                                          6:"Country 7", 
                                          7:"Country 8", 
                                          8:"Country 9",
                                          9:"Country 10",
                                           10:"Country 11",
                                           11:"Country 12"})
countries_renamed

,Country 1,Country 2,Country 3,Country 4,Country 5,Country 6,Country 7,Country 8,Country 9,Country 10,Country 11,Country 12
0,Brazil,None,None,None,None,None,None,None,None,None,None,None
1,Mexico,None,None,None,None,None,None,None,None,None,None,None
2,Singapore,None,None,None,None,None,None,None,None,None,None,None
3,United States,None,None,None,None,None,None,None,None,None,None,None
4,United States,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
7781,United States,None,None,None,None,None,None,None,None,None,None,None
7782,Sweden,Czech Republic,United Kingdom,Denmark,Netherlands,None,None,None,None,None,None,None
7783,India,None,None,None,None,None,None,None,None,None,None,None
7785,Australia,None,None,None,None,None,None,None,None,None,None,None
7786,United Kingdom,Canada,United States,None,None,None,None,None,None,None,None,None

In [12]:
# Renamed year_added
year_added = year_added.rename(columns={0: "Calendar Date Added to Netflix", 
                                          1:"Year Added to Netflix"})

In [13]:
# Join netflix_final and countries_renamed dataframes
netflix_final = netflix_renamed.join([year_added, countries_renamed])
netflix_final

,Movie/TV Show,Title,Country of Production,Date Added to Netflix,Release Year,Parental Rating,Duration,Genre,Calendar Date Added to Netflix,Year Added to Netflix,...,Country 3,Country 4,Country 5,Country 6,Country 7,Country 8,Country 9,Country 10,Country 11,Country 12
0,TV Show,3%,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",August 14,2020,...,None,None,None,None,None,None,None,None,None,None
1,Movie,7:19,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",December 23,2016,...,None,None,None,None,None,None,None,None,None,None
2,Movie,23:59,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies",December 20,2018,...,None,None,None,None,None,None,None,None,None,None
3,Movie,9,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",November 16,2017,...,None,None,None,None,None,None,None,None,None,None
4,Movie,21,United States,"January 1, 2020",2008,PG-13,123 min,Dramas,January 1,2020,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7781,Movie,Zoom,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies",January 11,2020,...,None,None,None,None,None,None,None,None,None,None
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",October 19,2020,...,United Kingdom,Denmark,Netherlands,None,None,None,None,None,None,None
7783,Movie,Zubaan,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",March 2,2019,...,None,None,None,None,None,None,None,None,None,None
7785,TV Show,Zumbo's Just Desserts,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",October 31,2020,...,None,None,None,None,None,None,None,None,None,None
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",March 1,2020,...,United States,None,None,None,None,None,None,None,None,None

In [14]:
# Converting "Year Added to Netflix to integer
netflix_final["Year Added to Netflix"] = pd.to_numeric(netflix_final["Year Added to Netflix"])
netflix_final["Year Added to Netflix"] = netflix_final["Year Added to Netflix"].astype(int)
netflix_final.dtypes

Movie/TV Show                     object
Title                             object
Country of Production             object
Date Added to Netflix             object
Release Year                       int64
Parental Rating                   object
Duration                          object
Genre                             object
Calendar Date Added to Netflix    object
Year Added to Netflix              int64
Country 1                         object
Country 2                         object
Country 3                         object
Country 4                         object
Country 5                         object
Country 6                         object
Country 7                         object
Country 8                         object
Country 9                         object
Country 10                        object
Country 11                        object
Country 12                        object
dtype: object

In [15]:
# Get rid of spaces in "Country of Production"
#netflix_final = [x.strip() for x in netflix_final["Country of Production"].split(",")]
#netflix_final

In [16]:
netflix_final["Country of Production"] = netflix_final["Country of Production"].str.replace(", ", ",")

In [17]:
netflix_final["Country of Production"] = netflix_final["Country of Production"].str.strip()

In [18]:
netflix_final["Country of Production"] = netflix_final["Country of Production"].str.split(",")

In [19]:
#netflix_final["Country of Production"] = netflix_final["Country of Production"].str.strip()

In [20]:
#netflix_final["Country of Production"] = netflix_final["Country of Production"].apply(lambda x: pd.Series(x))

In [21]:
#netflix_final["Country of Production"] = netflix_final["Country of Production"].str.strip('[]').astype(str)

In [22]:
netflix_final.head(20)

,Movie/TV Show,Title,Country of Production,Date Added to Netflix,Release Year,Parental Rating,Duration,Genre,Calendar Date Added to Netflix,Year Added to Netflix,...,Country 3,Country 4,Country 5,Country 6,Country 7,Country 8,Country 9,Country 10,Country 11,Country 12
0,TV Show,3%,[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",August 14,2020,...,None,None,None,None,None,None,None,None,None,None
1,Movie,7:19,[Mexico],"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",December 23,2016,...,None,None,None,None,None,None,None,None,None,None
2,Movie,23:59,[Singapore],"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies",December 20,2018,...,None,None,None,None,None,None,None,None,None,None
3,Movie,9,[United States],"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",November 16,2017,...,None,None,None,None,None,None,None,None,None,None
4,Movie,21,[United States],"January 1, 2020",2008,PG-13,123 min,Dramas,January 1,2020,...,None,None,None,None,None,None,None,None,None,None
5,TV Show,46,[Turkey],"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",July 1,2017,...,None,None,None,None,None,None,None,None,None,None
6,Movie,122,[Egypt],"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies",June 1,2020,...,None,None,None,None,None,None,None,None,None,None
7,Movie,187,[United States],"November 1, 2019",1997,R,119 min,Dramas,November 1,2019,...,None,None,None,None,None,None,None,None,None,None
8,Movie,706,[India],"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies",April 1,2019,...,None,None,None,None,None,None,None,None,None,None
9,Movie,1920,[India],"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",December 15,2017,...,None,None,None,None,None,None,None,None,None,None
10,Movie,1922,[United States],"October 20, 2017",2017,TV-MA,103 min,"Dramas, Thrillers",October 20,2017,...,None,None,None,None,None,None,None,None,None,None
11,TV Show,1983,"[Poland, United States]","November 30, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",November 30,2018,...,None,None,None,None,None,None,None,None,None,None
12,TV Show,1994,[Mexico],"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",May 17,2019,...,None,None,None,None,None,None,None,None,None,None
13,Movie,"2,215",[Thailand],"March 1, 2019",2018,TV-MA,89 min,"Documentaries, International Movies, Sports Mo...",March 1,2019,...,None,None,None,None,None,None,None,None,None,None
14,Movie,3022,[United States],"March 19, 2020",2019,R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",March 19,2020,...,None,None,None,None,None,None,None,None,None,None
15,Movie,Oct-01,[Nigeria],"September 1, 2019",2014,TV-14,149 min,"Dramas, International Movies, Thrillers",September 1,2019,...,None,None,None,None,None,None,None,None,None,None
17,Movie,22-Jul,"[Norway, Iceland, United States]","October 10, 2018",2018,R,144 min,"Dramas, Thrillers",October 10,2018,...,United States,None,None,None,None,None,None,None,None,None
18,Movie,15-Aug,[India],"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies",March 29,2019,...,None,None,None,None,None,None,None,None,None,None
19,Movie,'89,[United Kingdom],"May 16, 2018",2017,TV-PG,87 min,Sports Movies,May 16,2018,...,None,None,None,None,None,None,None,None,None,None
20,Movie,​​Kuch Bheege Alfaaz,[India],"September 1, 2018",2018,TV-14,110 min,"Dramas, Independent Movies, International Movies",September 1,2018,...,None,None,None,None,None,None,None,None,None,None

In [23]:
netflix_final.dtypes

Movie/TV Show                     object
Title                             object
Country of Production             object
Date Added to Netflix             object
Release Year                       int64
Parental Rating                   object
Duration                          object
Genre                             object
Calendar Date Added to Netflix    object
Year Added to Netflix              int64
Country 1                         object
Country 2                         object
Country 3                         object
Country 4                         object
Country 5                         object
Country 6                         object
Country 7                         object
Country 8                         object
Country 9                         object
Country 10                        object
Country 11                        object
Country 12                        object
dtype: object

In [24]:
#netflix_final["new_col"] = netflix_final["Country of Production"].str.split(",").str.strip()
#netflix_final

In [25]:
countrycount = netflix_final["Country of Production"].str.get_dummies(sep=",").sum().sort_values(ascending=False)
countrycount.head(20)

['United States']     2546
['India']              923
['United Kingdom']     396
 'United States']      341
['United States'       328
['Japan']              224
['South Korea']        183
['United Kingdom'      180
['Canada']             177
['Spain']              134
['France']             115
['Egypt']              101
['Mexico']             100
['Turkey']             100
 'Canada']              99
['Canada'               82
 'France']              82
['France'               81
['Australia']           81
 'United Kingdom']      80
dtype: int64

In [ ]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
# netflix_final.to_csv("Resources/clean_netflix.csv", encoding="utf-8", index=False)